<body>
    <button class="save-playlist">Save Playlist Locally</button>
    <a class="local-playlist" href="/">Retrieve Playlist Locally</a>
<!-- Display for Each Item inside of the user created playlist array -->
    <% playlist.forEach(video=> { %>
        <div class="video-link">
            <h2><%=video.id%></h2>
            <h1><%=video.title %></h1>
            <img src="<%=video.thumbnail %>" alt="<%=video.title %>">
        </div>
        <% }); %>
            <%- include("videoFind.ejs") %>
            <%- include("LocalStorage.ejs") %>
</body>