
<body class="playlist-cont">
        <button class="save-playlist btn btn-dark mx-1">Save Playlist Locally</button>
        <button class="local-playlist btn btn-dark mx-1">Retrieve Playlist Locally</button>
        <button class="update-local-playlist collapse btn btn-dark mx-1" >Update Local Playlist</button>
        <button class="copy-local collapse btn btn-dark mx-1" >Copy Local Playlist over</button>
        <button class="empty-local collapse btn btn-dark mx-1" >Delete Local Playlist </button>
        <button class="empty-current btn btn-dark mx-1" >Delete Current Playlist </button>

<!-- Display for Each Item inside of the user created playlist array -->
    <div class="playlist-head fs-1 pt-2 ps-3">Current Playlist</div>
    <div class="playlist-head-2 collapse fs-1 pt-2 ps-3">Saved Playlist</div>
    <% playlist.forEach(video=> { %>
        <div class="video-link video-card my-3 pt-2 rounded-4 col ">
                <h1 class="srch-res ps-3"><%=video.title %></h1>
                <h2 class="srch-res fs-6 ps-3"><%=video.id%></h2>
                <img class="ps-3 pb-3 rounded-4" src="<%=video.thumbnail %>" alt="<%=video.title %>">
        </div>
        <!-- passing in count server side to make so we can target the index -->
        <button class="delete-button btn btn-danger ms-3" id="<%=count++%>" href="/playlist">Delete From playlist</button>
        <% }); %>
</body>
    <%- include("videoDelete.ejs") %>
    <%- include("myPlaylistStore.ejs") %>

