
<body class="playlist-cont">
    <button class="save-playlist">Save Playlist Locally</button>
    <button class="local-playlist">Retrieve Playlist Locally</button>
    <button class="update-local-playlist hide" >Update Local Playlist</button>
    <button class="copy-local hide" >Copy Local Playlist over</button>
    <button class="empty-local hide" >Delete Local Playlist </button>
    <button class="empty-current" >Delete Current Playlist </button>

<!-- Display for Each Item inside of the user created playlist array -->
    <div class="delete-notice"></div>
    <% playlist.forEach(video=> { %>
        <div class="video-link">
            <h2><%=video.id%></h2>
            <h1><%=video.title %></h1>
            <img src="<%=video.thumbnail %>" alt="<%=video.title %>">
        </div>
        <!-- passing in count server side to make so we can target the index -->
        <button class="delete-button" id="<%=count++%>" href="/playlist">Delete From playlist</button>
        <% }); %>
</body>
    <%- include("videoDelete.ejs") %>
    <%- include("myPlaylistStore.ejs") %>

