<!-- Display for each item recieved from Youtube API from POST request made clientside by srchForm.ejs -->
<body>
    <% content.forEach(video=> { %>
        <div class="video-link">
            <h2><%=video.id.videoId%></h2>
            <h1><%=video.snippet.title %></h1>
            <img src="<%=video.snippet.thumbnails.medium.url %>" alt="<%=video.snippet.title %>">
        </div>
        <% }); %>
        <%- include("videoFind.ejs") %>
</body>
