<!-- This is the display for a singular video from the GET "/video" Route -->
<body>
        <h2><%= video.id %></h2>
        <h1><%= video.snippet.title %></h1>
        <div class="video-player"><%-video.player.embedHtml %></div>
        <button class="add-video">Add Video to Playlist</button>

    <script>
        // POST request made to Client Side for saving a video to an Array for LocalStorage
                $(function () {
                $(".add-video").on("click", function (e) {
                    $.post("http://localhost:3000/add-video", 
                        { 
                        videoTitle: "<%=video.snippet.title%>",
                        videoID: "<%=video.id%>",
                        videoHtml: "<%=video.player.embedHtml%>",
                        videoThumbnail:"<%=video.snippet.thumbnails.medium.url%>",
                    },
                        function (data, status) {
                            console.log("Data: " + data + "\nStatus: " + status);
                        });
                });
            });
    </script>
</body>
